html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button {
  width: 60%;
  padding: 0.8rem 0.4rem;
  border-radius: 0.4rem;
  gap: 0.8rem;
  margin-top: 0.4rem;
  border: 0.2rem solid rgb(33, 106, 179);
  outline: none;
  transition: all 0.2s;
}
input:focus {
  outline: none;
  border: 0.2rem solid dodgerblue;
}
button {
  font-size: 1.7rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
  border: none;
  cursor: pointer;
  width: 20rem;
  margin-bottom: 2rem;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.836);
}
.main {
  max-width: 120rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 78, 104);
  padding: 2rem;
  border-radius: 1.4rem;
  box-shadow: 0 0.2px 0 black;
}
input::placeholder {
  font-size: 1.5rem;
  color: #333;
  text-transform: uppercase;
}
.main h2 {
  font-size: 3.1rem;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 1.3rem;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
